body {
  background-color: rgb(75, 186, 201);
}

header {
    text-align: center ;
    margin-bottom: 10px;
}

* {
  margin: 0%;
  padding: 0%;
}

div {
  margin: auto;
  font-style: arial;
  width: 80%;
  height: 400px;
  border-style: solid;
  border-radius: 2px;
  margin-top: 40px;
  background-color: white;
}

ol {
  margin-left: 400px;
}
